@import '../../../assets/less/_vars.less';

.weather {
  width: 100%;

  &-place {
    &__description {
      height: 0;
      overflow: hidden;
    }
  }

  &__place {
    font-size: 16px;
    text-align: center;
    background: #eee;
    .style-border();
    padding: 20px 15px;
    margin-bottom: 8px;
  }

  &-main {
    text-align: center;
    margin-bottom: 30px;
    background: #eff7ff;
    .style-border();
    padding: 18px;


    &__state {
      font-size: 14px;
      color: #a4a4a4;
      margin-bottom: 8px;
    }

    &__temperature {
      font-size: 30px;
      font-weight: 600
    }

    &-temperature {
      margin-right: 8px;
    }
  }
}