.weather {
  width: 100%;
  &-main {
    text-align: center;
    margin-bottom: 30px;

    &__state {
      font-size: 14px;
      color: #a4a4a4;
    }

    &__temperature {
      font-size: 30px;
      font-weight: 600
    }

    &-temperature {
      margin-right: 8px;
    }
  }
}