@import '../../../assets/less/_vars.less';

.weather-daily {
  background: #fff4e1;
  .style-border();

  &__item {
    display: flex;
  }

  &-item {
    &__date {
      span {
        text-transform: capitalize;
      }
    }
  }
}