body{
  margin:0;
  padding:0;
  background: #606060;
}

.weather-app {
  align-items: center;
  font-family: Montserrat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  &__title {
    font-weight: 700;
  }
}