.city {
  margin-bottom: 20px;
  &-form {
    display: flex;
    &__input {
      border: 1px solid #dadada;
      padding: 8px 14px 8px;
      border-radius: 5px 0px 0px 5px;
      outline: none;
      border-right: none;
      &__focus {

      }
    }
    &__button {
      background: #d98de6;
      border: 1px solid #d98de6;
      border-radius: 0px 5px 5px 0px;
      outline: none;
      padding: 0px 16px;
    }
  }
}