@import '../../../assets/less/_default';
@import '../../../assets/less/_vars.less';

.weather-hourly {
  display: flex;
  overflow: hidden;
  background: #f6dcff;
  .style-border();
  padding: 15px;

  &__item {
    text-align: center;
  }
}